/**/ /**/ /**/ /* GéNéRAL */ /**/ /**/ /**/
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 40px;
    color: #ea4f2e;
    text-align: center;
}
h2 {
    font-size: 32px;
    color: #f6bb20;
}
h3 {
    font-size: 26px;
    color: #0d72b9;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 14px;
}
p {
    font-size: 18px;
    text-align: justify;
}
a {
    color: black;
    font-weight: 700;
}
ul {

}
li {
    font-size: 22px;
}
hr {
    border: 2px dotted #2887ca;
    width: 50%;
    margin: auto;
}

/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */

/**/ /**/ /* MAIN */ /**/ /**/

/* texte d'accueil */
main section div p {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

/* Nos Jeux */
main section#nos-jeux h2{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
main section#nos-jeux p{
    text-align: justify;
    padding-left: 25%;
    padding-right: 25%;
}
main section#nos-jeux {
    background-color: #ededed;
}

/* Carnet de Développement */
main section#carnet-de-dev h2, main section#carnet-de-dev h3{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
main section#carnet-de-dev ul{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 35px;
}
